html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

button {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
}

.display {
    font-size: 3rem;
    text-align: right;
}

div.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-body {
    width: 16rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.long-btn {
    width: 8rem;
}